@charset "UTF-8";
/* CSS Document */

body {
	background-image:url("images/brain-patterns.png");
}
.books{
	padding-left: 1%;
}
.portraits{
	padding-left: 32%;
}
.movies{
	padding-left: 21%;
}
#raoul{
	padding-left: 39%;
}