@charset "UTF-8";
/* CSS Document */

body {
	background-image:url("images/brain-patterns.png");
}
.videos{
	padding-left: 7%;
}
#portnoy{
	padding-left: 34%;
}
.albums{
	padding-left: 32%;
}
#portrait{
	padding-left: 43%;
}